<h1>Listing tarefas</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tarefas.each do |tarefa| %>
  <tr>
    <td><%= tarefa.titulo %></td>
    <td><%= tarefa.descricao %></td>
    <td><%= link_to 'Show', tarefa %></td>
    <td><%= link_to 'Edit', edit_tarefa_path(tarefa) %></td>
    <td><%= link_to 'Destroy', tarefa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tarefa', new_tarefa_path %>
