<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @tarefa.titulo %>
</p>

<p>
  <b>Descricao:</b>
  <%= @tarefa.descricao %>
</p>


<%= link_to 'Edit', edit_tarefa_path(@tarefa) %> |
<%= link_to 'Back', tarefas_path %>
